name: Build and upload binaries

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  
jobs:
  build-nix:
    runs-on: ubuntu-latest
    outputs:
      release_built: ${{ steps.set-output.outputs.release_built }}
    steps:
      - uses: actions/checkout@v5
      - name: Rust update
        run: rustup update
      - name: Build binary
        run: cargo build --release
      - name: Run tests
        run: cargo test --release
      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: shellingo-linux
          path: target/release/shellingo_cli

  build-win:
    runs-on: windows-latest
    strategy:
      matrix:
        BUILD_TARGET: [release] # refers to a cargo profile
    outputs:
      release_built: ${{ steps.set-output.outputs.release_built }}
    steps:
      - uses: actions/checkout@v5
      - name: Rust update
        run: rustup update
      - name: Build binary
        run: cargo build --release
      - name: Run tests
        run: cargo test --release
      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: shellingo-linux
          path: target/release/shellingo_cli.exe
